[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "learningr"]
	path = learningr
	url = https://github.com/richierocks/learningr
[submodule "rebus"]
	path = rebus
	url = https://github.com/richierocks/rebus
[submodule "rebus.base"]
	path = rebus.base
	url = https://github.com/richierocks/rebus.base
[submodule "rebus.datetimes"]
	path = rebus.datetimes
	url = https://github.com/richierocks/rebus.datetimes
[submodule "rebus.numbers"]
	path = rebus.numbers
	url = https://github.com/richierocks/rebus.numbers
[submodule "rebus.unicode"]
	path = rebus.unicode
	url = https://github.com/richierocks/rebus.unicode
[submodule "sig"]
	path = sig
	url = https://bitbucket.org/richierocks/sig
